WebAppAhorcadoCliente/Connected Services/WSReferencia/WSAhorcado.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61805/WSAhorcado.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WsAhorcado" />
  <xs:element name="ObtenerPalabra">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPalabraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WsAhorcado" minOccurs="0" name="ObtenerPalabraResult" nillable="true" type="q1:Palabra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarLetra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Letra" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Palabra" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PalabraGuion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VidasRestantes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarLetraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WsAhorcado" minOccurs="0" name="ValidarLetraResult" nillable="true" type="q2:Palabra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>